![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 2

Neste Jupyter notebook você irá resolver uma exercícios utilizando a linguagem Python e a biblioteca Pandas.

Todos os datasets utilizados nos exercícios estão salvos na pasta **datasets**.

Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/US_Crime_Rates_1960_2014.csv***.

Este dataset contém dados de crimes ocorridos nos Estados Unidos no período de 1960 até 2014.

Salve os dados em uma variável de nome *crime*.

In [1]:
import pandas as pd

In [2]:
crimes = pd.read_csv('https://raw.githubusercontent.com/robertferro/data-manipulation-exercises/master/datasets/US_Crime_Rates_1960_2014.csv' , sep = ',')

In [3]:
crimes.head()

   Year  Population    Total  ...  Burglary  Larceny_Theft  Vehicle_Theft
0  1960   179323175  3384200  ...    912100        1855400         328200
1  1961   182992000  3488000  ...    949600        1913000         336000
2  1962   185771000  3752200  ...    994300        2089600         366800
3  1963   188483000  4109500  ...   1086400        2297800         408300
4  1964   191141000  4564600  ...   1213200        2514400         472800

[5 rows x 12 columns]

### Tarefa 2. Qual o tipo de dados em cada coluna?

In [4]:
crimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                55 non-null     int64
 1   Population          55 non-null     int64
 2   Total               55 non-null     int64
 3   Violent             55 non-null     int64
 4   Property            55 non-null     int64
 5   Murder              55 non-null     int64
 6   Forcible_Rape       55 non-null     int64
 7   Robbery             55 non-null     int64
 8   Aggravated_assault  55 non-null     int64
 9   Burglary            55 non-null     int64
 10  Larceny_Theft       55 non-null     int64
 11  Vehicle_Theft       55 non-null     int64
dtypes: int64(12)
memory usage: 5.3 KB

### Tarefa 3. Converta o tipo de dado da coluna Year para o tipo datetime

*Dica: procure na documentação da biblioteca como fazer tal conversão*

In [5]:
crimes['Year'] = crimes['Year'].astype(str)

In [6]:
crimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                55 non-null     object
 1   Population          55 non-null     int64
 2   Total               55 non-null     int64
 3   Violent             55 non-null     int64
 4   Property            55 non-null     int64
 5   Murder              55 non-null     int64
 6   Forcible_Rape       55 non-null     int64
 7   Robbery             55 non-null     int64
 8   Aggravated_assault  55 non-null     int64
 9   Burglary            55 non-null     int64
 10  Larceny_Theft       55 non-null     int64
 11  Vehicle_Theft       55 non-null     int64
dtypes: int64(11), object(1)
memory usage: 5.3+ KB

In [7]:
# t = datetime.datetime(2012, 2, 23, 0, 0)
# t.strftime('%m/%d/%Y')
crimes['Year'] =pd.to_datetime(crimes['Year'])

In [12]:
crimes.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 55 entries, 1960-01-01 to 2014-01-01
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Population          55 non-null     int64
 1   Total               55 non-null     int64
 2   Violent             55 non-null     int64
 3   Property            55 non-null     int64
 4   Murder              55 non-null     int64
 5   Forcible_Rape       55 non-null     int64
 6   Robbery             55 non-null     int64
 7   Aggravated_assault  55 non-null     int64
 8   Burglary            55 non-null     int64
 9   Larceny_Theft       55 non-null     int64
 10  Vehicle_Theft       55 non-null     int64
dtypes: int64(11)
memory usage: 5.2 KB

### Tarefa 4. Configure a coluna Year como index do DataFrame.

*Dica: use a função set_index() do Pandas*

In [10]:
crimes = crimes.set_index('Year')

In [11]:
crimes.head()

            Population    Total  ...  Larceny_Theft  Vehicle_Theft
Year                             ...
1960-01-01   179323175  3384200  ...        1855400         328200
1961-01-01   182992000  3488000  ...        1913000         336000
1962-01-01   185771000  3752200  ...        2089600         366800
1963-01-01   188483000  4109500  ...        2297800         408300
1964-01-01   191141000  4564600  ...        2514400         472800

[5 rows x 11 columns]

### Tarefa 5. Remova a coluna Total do DataFrame.

In [13]:
crimes = crimes.drop('Total', axis = 1)

In [14]:
crimes.head()

            Population  Violent  ...  Larceny_Theft  Vehicle_Theft
Year                             ...
1960-01-01   179323175   288460  ...        1855400         328200
1961-01-01   182992000   289390  ...        1913000         336000
1962-01-01   185771000   301510  ...        2089600         366800
1963-01-01   188483000   316970  ...        2297800         408300
1964-01-01   191141000   364220  ...        2514400         472800

[5 rows x 10 columns]

### Tarefa 6. Encontre o número de roubos de carro do ano de 1978.

In [16]:
crimes.query('Year == 1978' ).Vehicle_Theft

Year
1978-01-01    1004100
Name: Vehicle_Theft, dtype: int64

### Tarefa 7. Retorne a linha do ano em que houve o maior número de assasinatos. 

*Dica: use a coluna Murder como referência.*

In [19]:
crimes.Murder.describe()

count       55.000000
mean     17317.236364
std       4267.442664
min       8530.000000
25%      14819.000000
50%      17030.000000
75%      20561.500000
max      24700.000000
Name: Murder, dtype: float64

In [18]:
crimes.query('Murder == 24700')

            Population  Violent  ...  Larceny_Theft  Vehicle_Theft
Year                             ...
1991-01-01   252177000  1911770  ...        8142200        1661700

[1 rows x 10 columns]

### Tarefa 8. Retorne o número de assassinatos do ano em que foi registrado o menor número de roubo de carros.

In [21]:
crimes.Vehicle_Theft.min()

328200

In [22]:
crimes.query('Vehicle_Theft == 328200')

            Population  Violent  ...  Larceny_Theft  Vehicle_Theft
Year                             ...
1960-01-01   179323175   288460  ...        1855400         328200

[1 rows x 10 columns]

In [23]:
crimes.query('Vehicle_Theft == 328200').Murder

Year
1960-01-01    9110
Name: Murder, dtype: int64

**Parabéns! Você chegou ao fim**