![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 2

Neste Jupyter notebook você irá resolver uma exercícios utilizando a linguagem Python e a biblioteca Pandas.

Todos os datasets utilizados nos exercícios estão salvos na pasta **datasets**.

Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/US_Crime_Rates_1960_2014.csv***.

Este dataset contém dados de crimes ocorridos nos Estados Unidos no período de 1960 até 2014.

Salve os dados em uma variável de nome *crime*.

In [1]:
import pandas as pd

In [2]:
crimes = pd.read_csv('https://raw.githubusercontent.com/robertferro/data-manipulation-exercises/master/datasets/US_Crime_Rates_1960_2014.csv' , sep = ',')

In [3]:
crimes.head()

   Year  Population    Total  ...  Burglary  Larceny_Theft  Vehicle_Theft
0  1960   179323175  3384200  ...    912100        1855400         328200
1  1961   182992000  3488000  ...    949600        1913000         336000
2  1962   185771000  3752200  ...    994300        2089600         366800
3  1963   188483000  4109500  ...   1086400        2297800         408300
4  1964   191141000  4564600  ...   1213200        2514400         472800

[5 rows x 12 columns]

### Tarefa 2. Qual o tipo de dados em cada coluna?

In [6]:
crimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                55 non-null     int64
 1   Population          55 non-null     int64
 2   Total               55 non-null     int64
 3   Violent             55 non-null     int64
 4   Property            55 non-null     int64
 5   Murder              55 non-null     int64
 6   Forcible_Rape       55 non-null     int64
 7   Robbery             55 non-null     int64
 8   Aggravated_assault  55 non-null     int64
 9   Burglary            55 non-null     int64
 10  Larceny_Theft       55 non-null     int64
 11  Vehicle_Theft       55 non-null     int64
dtypes: int64(12)
memory usage: 5.3 KB

### Tarefa 3. Converta o tipo de dado da coluna Year para o tipo datetime

*Dica: procure na documentação da biblioteca como fazer tal conversão*

In [12]:
type(crimes.Year)

pandas.core.series.Series

In [19]:
crimes['year'] = pd.to_datetime(crimes['Year'], day_first = False)

TypeError: ignored

In [16]:
crimes.head()

   Year  Population  ...  Vehicle_Theft                          year
0  1960   179323175  ...         328200 1970-01-01 00:00:00.000001960
1  1961   182992000  ...         336000 1970-01-01 00:00:00.000001961
2  1962   185771000  ...         366800 1970-01-01 00:00:00.000001962
3  1963   188483000  ...         408300 1970-01-01 00:00:00.000001963
4  1964   191141000  ...         472800 1970-01-01 00:00:00.000001964

[5 rows x 13 columns]

In [15]:
crimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                55 non-null     datetime64[ns]
 1   Population          55 non-null     int64
 2   Total               55 non-null     int64
 3   Violent             55 non-null     int64
 4   Property            55 non-null     int64
 5   Murder              55 non-null     int64
 6   Forcible_Rape       55 non-null     int64
 7   Robbery             55 non-null     int64
 8   Aggravated_assault  55 non-null     int64
 9   Burglary            55 non-null     int64
 10  Larceny_Theft       55 non-null     int64
 11  Vehicle_Theft       55 non-null     int64
 12  year                55 non-null     object
dtypes: datetime64[ns](1), int64(11), object(1)
memory usage: 5.7+ KB

### Tarefa 4. Configure a coluna Year como index do DataFrame.

*Dica: use a função set_index() do Pandas*

In [ ]:
# Seu código

### Tarefa 5. Remova a coluna Total do DataFrame.

In [16]:
crimes = crimes.drop('Total', axis = 1)

In [17]:
crimes.head()

                           Year  Population  ...  Vehicle_Theft        year
0 1970-01-01 00:00:00.000001960   179323175  ...         328200  1970-01-01
1 1970-01-01 00:00:00.000001961   182992000  ...         336000  1970-01-01
2 1970-01-01 00:00:00.000001962   185771000  ...         366800  1970-01-01
3 1970-01-01 00:00:00.000001963   188483000  ...         408300  1970-01-01
4 1970-01-01 00:00:00.000001964   191141000  ...         472800  1970-01-01

[5 rows x 12 columns]

### Tarefa 6. Encontre o número de roubos de carro do ano de 1978.

In [ ]:
# Seu código

### Tarefa 7. Retorne a linha do ano em que houve o maior número de assasinatos. 

*Dica: use a coluna Murder como referência.*

In [ ]:
# Seu código

### Tarefa 8. Retorne o número de assassinatos do ano em que foi registrado o menor número de roubo de carros.

In [ ]:
# Seu código

**Parabéns! Você chegou ao fim**